*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1a1818;
    font-family: 'Cairo', sans-serif;
}
.parent{
    width: 100%;
    text-align: center;
    margin: 10px;
}
h1{
    color: #710a0a;
    width: 335px;
    font-family: 'Jost', sans-serif;
}
.card{
   
    background-color: #41372ecf;
    border: 2px #ffff solid;
    border-radius:  25px 0px 25px 0px;
    width: 351px;
    text-align: left;
}
img{
    width: 350px;
    height: 300px;
    border-radius:  25px 0px 0px 0px;
}
img:hover{
    border: #c5c4c4 2px solid;
    border-radius: 50%;
}
h2{
    color: #d3d6da;
    font-size: 30px;
}
h2:hover{
    color: #ffffff;
    font-size: 33px; 
}
p{
    color: rgb(145 141 7);
    font-size: 20px;
}
p:hover{
    color: rgb(117, 117, 102);
}
a{
    color: rgb(133, 159, 172);
    background-color: #551313;
}
a:hover{
    background-color: #55131325;
}
hr{
    border-color: rgba(150, 150, 161, 0.616);
  }
  .space{
    height: 20px;
    border-color: rgba(150, 150, 161, 0.616);

  }
  .footer{
    background-color: rgba(78, 48, 8, 0.459);
    color: #ffffff;
  }
